.blog-post {
  background-color: white;
  color: black;
  padding: 10rem 8%;


  h1 {
    font-size: 3.6rem;
    width: 20ch;
  }

  p {
    font-size: 1.4rem;
    text-align: justify;
  }

  .featured-image {
    width: 100%;
    max-height: 70vh;
  }

  .fb-comments {
    margin-top: 3rem;
  }
}