.blog {
  background-color: white;
  color: black;
}

@media only screen and (max-width:1024px) {
  .blog h1 {
    margin-top: 20vh;
  }

  .article.blog-article {
    width: 25vw;
    margin-bottom: 5vh;
  }
}

@media only screen and (max-width:768px) {

  .blog h1 {
    margin-top: 15vh;
  }

  .article.blog-article {
    min-width: 40vw;
    margin-bottom: 5vh;
  }
}