body{
  background-color: #232332;
  color:aliceblue;
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

main{
  max-width:1366px;
  display: flex;
  flex-direction:row;
  margin: 0 auto;
}

