body{
  background-color: #232332;
  color:aliceblue;
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

main{
  display: flex;
  flex-direction:column;
  margin: 0 auto;
}

section{
  border-bottom: 1px solid #989898;
  margin: 0 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding: 10vh 5vw;
  display:flex;
}

button{
  background-color: #989898;
  color: inherit;
  border: none;
  padding: 0.8em 1.5em;
  border-radius:12px;
  font-weight:bold;
}