body{
  background-color: white;
  color:black;
  margin:0;
  padding:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

main{
  display: flex;
  flex-direction:column;
  margin: auto;
}

button:hover{
  cursor:pointer;
}

a{
  color: aliceblue;
  text-decoration: none;
}

section{
  border-bottom: 1px solid #989898;
  margin: 0;
  padding: 10vh 0;
  display:flex;
}

section:last-of-type{
  border: none;
}

button{
  background-color: #989898;
  color: inherit;
  border: none;
  padding: 0.8em 1.5em;
  border-radius:12px;
  font-weight:bold;
}


@media only screen and (max-width: 568px){
  body{
    padding:0;
  }
  section{
    border-bottom:none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}