.brands-aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;

  p {
    font-size: 1.3rem;
    width: 75%;
    font-weight: 500;
    align-self: center;
    text-align: justify;
    line-height: 1.2;
  }

  @media only screen and (max-width: 568px) {
    p {
      width: 90%;
      font-size: 1.2rem;
      text-align: center;
    }
  }
}