.brands{
  display:flex;
  flex-direction:column;
  justify-content: center;
  position:relative
}

.brands-background{
  width:100%;
  height:100%;
  z-index:-1;
}

#brands-video{
  width:100%;
  height:300px;
}

.brands h2{
  font-size:2.5em;
  align-self: center;
  text-align: center;
}

.actual-brands{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  margin: 2rem 0;
  overflow-x: auto;
  width:100%;
  gap:2rem;
}

.actual-brands div{
  display:flex;
  width:150px;
  height:150px;
}

.actual-brands div:first-of-type{
  padding-left:2rem;
}

.actual-brands div:last-of-type{
  padding-right:2rem;
}

#walmart{
  padding-top: 40%;
}
#flor{
  padding-top:30%;
}
#hispamer{
  padding-top:35%;
}
#molino{
  padding-top:30%;
}

@media only screen and (max-width:768px){
  .brands {
    padding: 5vh 0;
    font-size:0.8rem
  }
  #walmart{
    padding-top: 40%;
  }
  #flor{
    padding-top:20%;
  }
  #hispamer{
    padding-top:30%;
  }
  #molino{
    padding-top:25%;
  }
}
