.footer{
  display:flex;
  flex-direction: column;
  align-items: stretch;
  color:white;
}

.footer button{
  background-color:transparent;
  padding:0;
  font-size:1.2rem;
  font-weight:400;
}

.footer-logo{
  width:180px;
  height:60px;
  display:flex;
  justify-content: flex-start;
}

.footer ul{
  list-style-type: none;
  display:flex;
  flex-direction:row;
}

.footer li{
  transition: all 150ms;
  height:2em;
  display:flex;
  align-items: center;
  text-align:center;
  padding: 0 0.5em;
  border-bottom:4px solid transparent;
}

.footer li:hover, .footer li:active{
  border-bottom:4px solid #ffff00;
  transition: all 300ms ease-out;
}


.footer-socials{
  display:flex;
  flex-direction:row;
  gap:5%;
  padding:0;
}

.footer-icon{
  color:white;
  font-size:2rem;
}

.top-footer{
  background-color:black;
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  padding: 3rem 0;
  font-size:1.2rem;
}
 
.top-footer>div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width:40%;
}

.top-footer p{
  width:90%;
}

.footer-pages{
  justify-content:space-around;
  align-items:center;
  padding-left:0;
  align-self:center;
  white-space: nowrap;
  width:100%;
  flex-wrap: wrap;
}


.footer-pages li{
  cursor:pointer;
}

.roastbrief{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: flex-end;
  white-space: nowrap;
  font-size:0.8rem;
  font-weight: 300;
  gap:1rem;
}


.rb-img{
  padding-left: 1rem;
}

.bottom-footer{
  background-color: #0049FF;
  font-weight: normal;
  padding-left:5vw;
  display:flex;
  flex-direction:row;
  gap:5vw;
  padding-top:5vh;
  padding-bottom:7vh;
}

.right-footer{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

@media only screen and (max-width:768px) {
  .top-footer{
    flex-direction:column;
    align-content:center;
    padding:3rem 2vw;
  }
  .top-footer div{
    width: 100%;
    align-items: center;
  }
  .footer-pages{
    flex-wrap: wrap;
    margin-top:2rem;
    width:100%;
    align-self:center;
  }
  .bottom-footer{
    flex-direction:column;
    gap:1vh;
  }
  .roastbrief{
    justify-content: center;
  }

}