.hero{
  padding-top:0;
  padding-bottom:15vh;
  font-size:1.8rem;  
  position:relative;
  color:black;
}

.hero-background{
  width:100%;
  height:100%;
  z-index:-1;
}

.hero-content{
  padding-left:5vw;
}

.hero h1{
  padding-top:35vh;
  font-size: 2em;
  width:19ch;
  line-height: 100%;
  margin-bottom: 0;

}

.hero p{
  width:40ch;
  line-height:120%;
  font-size:1.5rem;
  font-weight: 600;
}

.hero-buttons{
  margin-top: 4rem;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.hero button{
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 1.5em;
  padding:1em 2em;
  color: white;
}

#contactar-ahora {
  background-color: #FF2F49;
}

#ir-a-servicios{
  background-color: #0049FF;
}

@media only screen and (min-width: 3000px){
  .hero-content{
    padding-left:25vw;
  }
}

@media only screen and (max-width: 1024px) {
  .hero button{
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .hero h1{
    padding-top:20vh;
  }

  .hero button{
    font-size: 1rem;
  }


}

@media only screen and (max-width: 768px){
  .hero {
    font-size:1.5rem;
  }

  .hero p{
    width:80%;
  }

  .hero h1{
    width:100%;
    margin-right: 0;
  }

}

@media only screen and (max-width: 568px) {
  .hero{
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20vh;
    text-align: center;
    hyphens: auto;
  }

  .hero-content{
    padding:0;
  }

  .hero h1{
    width:95%;
    padding:10vh 0;
  }

  .hero p{
    margin: 0 auto;
    text-align:left;
    width:90%;
  }

  .hero-buttons{
    width:100%;
    flex-direction: column;
    margin-top: 2rem;
  }

  .hero button{
    margin: 1em 15%;
    font-size: 1.2rem;
  }
}
