.navbar{
  position:fixed;
  width:100%;
  top:0;
  transition: all ease-out 0.2s;
  z-index:10;
}

.navbar button{
  background-color:transparent;
  padding:0;
  font-size:1.2rem;
  font-weight:500;
}

.hidden{
  top: -8rem;
  transition: all ease-in-out 0.2s;
}

.dani-logo{
  width:8rem;
  height:100%;
  display:flex;
  align-content: center;
}

.nav li{
  height:60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding:0 0.8rem;
  margin: 0;
  border-bottom:3px solid transparent;
  transition: all 150ms;
  cursor:pointer
}

.nav li:hover, .nav li:active{
  border-bottom:4px solid #ffff00;
  transition: all 300ms ease-out;
}

.navbar ul{
  margin:0 auto;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  max-width: 1366px;
}

.search{
  background-color: white;
}

.search ul{
  font-size:0.8rem;
  justify-content: flex-end;
  height:2.5rem;
  padding-right:3rem;
}

.navbar-icon{
  color:black;
  font-size:2rem;
}

.search li{
  padding-right:4em;
  color:black;
}


.nav {
  background-color: #252525;
  font-size:1.2rem;
  font-weight: 500;
  color:white;
}

.nav ul{
  height:4.3rem;
}

.nav ul li:nth-child(1){
  padding:0;
  margin-right: 12rem;
  border-bottom:none;
}

.nav ul li:last-of-type{
  padding:0;
  border-bottom:none;
}


.nav li:nth-of-type(7){
  display:none;
}

.hamburger{
  display:none;
}

.hiddenOnMobile{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  position:absolute;
  width:100vw;
  right:-120vw;
  transition:all 1s ease-in-out;
  height:calc(100vh - 3.2rem);
  top:3.2rem;
  z-index: 100;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0) 5%, rgba(0,0,0,0.3) 100%);
  color:white;
}

.hiddenOnMobile.active{
  right:0;
  transition:all 1s ease-in-out;
  align-items: flex-end;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0) 5%, rgba(0,0,0,0.3) 100%);
}

.hiddenOnMobile ul{
  justify-content:flex-start;
  align-items: flex-start;
  margin-right:0;
  width:40%;
  background-color:#252525;
  flex-direction: column;
  height:100%;
  font-size:1.2rem;
}

.hiddenOnMobile li{
  padding:0.5em 0;
}

.hiddenOnMobile a{
  height:4em;
  text-align:center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {

  .nav ul {
    padding-left:1rem;
  }

  .nav ul li:first-of-type{
    width:20%;
    margin-right:0;
  }

}


@media only screen and (max-width: 768px){

  .hiddenOnMobile li:first-of-type{
    padding-top:3rem;
  }

  .search{
    display:none;
  }

  .nav ul{
    padding:0 1rem;
    justify-content: space-between;
    height:3.2rem;
  }

  .dani-logo{
    height:90%;
    width:7rem;
  }

  .nav li{
    display:none;
    border:none;
  }

  .nav li:hover, .nav li:active{
    border-bottom:none;
    background-color:transparent;
  }

  .nav ul li:first-of-type{
    display:flex;
    height:100%;
    margin-right:40%;
    padding-left:1rem;
  }

  .nav li:last-of-type{
    display:flex;
    flex-direction: row;
    padding:0;
    justify-content: center;
    padding:0 0.5rem;
    gap:1.5rem;
  }

  .nav li:nth-of-type(7){
    display:flex;
    padding:0;
  }


  .search-button{
    align-self: flex-start;
  }

  .navbar-icon{
    color:white;
  }

  .hamburger{
    display:flex;
    flex-direction:column;
  }

  .hamburger span{
    position:relative;
    background-color:white;
    width:2.2rem;
    height:0.25rem;
    margin: 0.22rem 0;
    border-radius: 1.5px;
    transition: all 1s ease-in-out, background-color 0.5s ease-in-out;
  }

  .hamburger.active{
    justify-content: center;
    align-items: center;   
  }

  .hamburger.active span{
    transition: transform 1s ease-in-out, background-color 0.5s ease-in-out;
  }


  .hamburger.active span:nth-child(1){
    transform: translate(0,0.7rem) rotate(225deg) ;
  }
  
  .hamburger.active span:nth-child(2){
    background-color:transparent;
  }
  
  .hamburger.active span:nth-child(3){
    transform: translate(0,-0.7rem) rotate(-225deg) ;
  }

}

